body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

p {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.name {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.size {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.theForm {
  display: flex;
  flex-flow: column;
  padding-top: 4rem;
}

.toppings {
  display: flex;
  flex-flow: column;
  align-items: center;
}
